<% if @name %>
<h1>My Name is <%= @name %> </h1>
<% end %>
<form name ='input' action='/named-cat'>
<input type='text' name='name'>
<input type='submit' value='submit'>
</form>
<img style ='border: 2px dotted red;' src='http://bit.ly/1eze8aE'/>
